@model _12Mart2022.ViewModels.DepartmanFormViewModel

@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mesaj"></div>
@if (ViewBag.Kontrol != 0)
{
    @Html.ActionLink("Personel Formu Eklemek için Tıklayın", "StudentManager", "Departman", null, new { id = "addItemStudents", @class = "btn btn-outline-danger" })
}

<div id="studentList1">
    @using (Html.BeginForm("Create", "Departman", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="form-group">

            @Html.LabelFor(m => m.Departman.Ad)
            @Html.TextBoxFor(m => m.Departman.Ad, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Departman.Ad)

        </div>
        <br />

        <div id="editorRowsStudents">
            @if (Model.Personels != null && Model.Personels.Count > 0)
            {

                foreach (var item in Model.Personels)
                {
                    @Html.Partial("~/Views/Personel/_Personel.cshtml", item)
                    
                }
            }

        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-outline-danger" />

            </div>
        </div>
        
            @*@Html.HiddenFor(x => x.Departman.Id)*@
        

    }


</div>

@section scripts {
    <script type="text/javascript">
    $(function () {
        $('#addItemStudents').on('click', function () {
            $.ajax({
                url: '@Url.Action("StudentManager")',
                    cache: false,
                    success: function (html) { $("#editorRowsStudents").append(html); }
                });
                return false;
            });
            $('#editorRowsStudents').on('click', '.deleteRow', function () {
                $(this).closest('.editorRow').remove();
            });

        });
    </script>
}


