@model _12Mart2022.ViewModels.PersonelAddViewModel

@{
    ViewBag.Title = "PersonelForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Personel Formu</h2>



<div id="mesaj">

</div>

@using (Html.BeginForm("Kaydet", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table table-bordered">

        <tr>
            <td class="form-group">
                @Html.LabelFor(m => m.Personel.Ad)
                @Html.TextBoxFor(m => m.Personel.Ad, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Personel.Ad)
            </td>

            <td class="form-group">
                @Html.LabelFor(m => m.Personel.Soyad)
                @Html.TextBoxFor(m => m.Personel.Soyad, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Personel.Soyad)
            </td>

            <td class="form-group">
                @Html.LabelFor(m => m.Personel.DepartmanId)
                @Html.DropDownListFor(m => m.Personel.DepartmanId, new SelectList(Model.Departmanlar, "Id", "Ad"), "Departman Seç", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Personel.DepartmanId)
            </td>

            <td class="form-group">
                @Html.LabelFor(m => m.Personel.Maas)
                @Html.TextBoxFor(m => m.Personel.Maas, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Personel.Maas)
            </td>

            <td class="form-group">
                @Html.LabelFor(m => m.Personel.DogumTarihi)
                @Html.TextBoxFor(m => m.Personel.DogumTarihi, "{0:yyyy-MM-dd}", new
                {
                    @class = "form-control",
                    type = "date",
                    onchange = "CheckDateTypeIsValıd(this)"
                })
                @Html.ValidationMessageFor(m => m.Personel.DogumTarihi)
            </td>

            <td class="form-group">
                <label>
                    @Html.RadioButtonFor(m => m.Personel.Cinsiyet, true) Erkek
                </label>
                <label>
                    @Html.RadioButtonFor(m => m.Personel.Cinsiyet, false) Kadın
                </label>
                @Html.ValidationMessageFor(m => m.Personel.Cinsiyet)
            </td>

            <td class="form-group">
                <label>
                    @Html.CheckBoxFor(m => m.Personel.EvliMi, true) Evliyseniz seçiniz
                </label>
            </td>

            <td>
                <input type="file" multiple name="fileBases" id="fileBases" />
            </td>
        </tr>



        @Html.HiddenFor(m => m.Personel.Id)
    </table>
    <button type="submit" class="btn btn-success">Kaydet </button>

}


@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
